.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_group {
  display: flex;
  flex-direction: column;
}

.input_group__label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
}

.input_group__input,
.submit_button {
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 9px;
  font-size: 0.875rem;
}

.submit_button {
  cursor: pointer;
}
